<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <link rel="stylesheet" href="styles.css">
        <title>{{ .Alias }} - Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="logo.svg" width="48" height="48" />
                </a>
            </div>

            <h1>Convey</h1>

            <table class="center" width="100%">
                {{ if eq .Alias "" }}
                    <form action="/alias" method="get">
                        <tr>
                            <th style="text-align:right;">Alias</th>
                            <td>
                                <input type="text" id="alias" name="alias" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">
                                <input type="submit" value="Search" />
                            </td>
                        </tr>
                    </form>
                {{ else }}
                    <tr>
                        <th style="text-align:right;">Alias</th>
                        <td>{{ .Alias }}</td>
                    </tr>
                    <tr>
                        <th style="text-align:right;">Timestamp</th>
                        <td>{{ .Timestamp }}</td>
                    </tr>
                    <tr>
                        <th style="text-align:right;">PublicKey</th>
                        <td>{{ .PublicKey }}</td>
                    </tr>
                {{ end }}
            </table>

            <div class="footer">
                <ul class="nav">
                    <li><a href="account">Account</a></li>
                    <li><a href="compose">Compose</a></li>
                    <li><a href="recent">Recent</a></li>
                    <li><a href="best">Best</a></li>
                    <!--<li><a href="digest">Digest</a></li>-->
                </ul>
                <ul class="nav">
                    <li><a href="channels">Channels</a></li>
                    <li><a href="ledger">Ledger</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2020 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
