<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Best - Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="logo.svg" width="48" height="48" />
                </a>
            </div>

            {{ if eq .Period "day" }}
                <h1>Best of the Day</h1>
            {{ else if eq .Period "week" }}
                <h1>Best of the Week</h1>
            {{ else if eq .Period "year" }}
                <h1>Best of the Year</h1>
            {{ else if eq .Period "all" }}
                <h1>Best of All</h1>
            {{ end }}

            {{ template "listing" . }}

            {{ if gt (len .Listings) 0 }}
                <p class="center"><a href="best?period={{ .Period }}&limit={{ .Limit }}">More</a></p>
            {{ end }}

            {{ if ne .Period "day" }}
                <p class="center"><a href="best?period=day">Best of the Day</a></p>
            {{ end }}

            {{ if ne .Period "week" }}
                <p class="center"><a href="best?period=week">Best of the Week</a></p>
            {{ end }}

            {{ if ne .Period "year" }}
                <p class="center"><a href="best?period=year">Best of the Year</a></p>
            {{ end }}

            {{ if ne .Period "all" }}
                <p class="center"><a href="best?period=all">Best of All</a></p>
            {{ end }}

            <div class="footer">
                <ul class="nav">
                    <li><a href="account">Account</a></li>
                    <li><a href="compose">Compose</a></li>
                    <li><a href="recent">Recent</a></li>
                    <!--<li><a href="digest">Digest</a></li>-->
                </ul>
                <ul class="nav">
                    <li><a href="channels">Channels</a></li>
                    <li><a href="ledger">Ledger</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2020 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
