<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Preview - Convey</title>
    </head>

    <body>
        <div class="content">
            <div class="header">
                <a href="https://aletheiaware.com">
                    <img src="logo.svg" width="48" height="48" />
                </a>
            </div>

            <h1>Preview</h1>

            {{ if ne .Topic "" }}
                <h2>Topic</h2>

                <p>{{ .Topic }}</p>

                <h2>Content</h2>
            {{ end }}

            {{ .Content }}

            <form action="/publish" method="post">
                <!-- TODO(v2) add CSRF token
                <input type="hidden" id="token" name="token" value="{ { .Token } }" />
                 -->
                <table class="center">
                    <tr>
                        <td style="text-align:right;">
                            Balance:
                        </td>
                        <td>
                            {{ .Balance }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            Cost:
                        </td>
                        <td>
                            {{ .Cost }}
                        </td>
                    </tr>
                    {{ if lt .Balance .Cost}}
                        <tr>
                            <td>
                                <p class="error">Insufficient Balance</p>
                            </td>
                            <td style="text-align:right;">
                                <!-- TODO(v2) Add redirect link to bring user back to this page -->
                                <a href="/token-purchase">Buy Tokens</a>
                            </td>
                        </tr>
                    {{ else }}
                        <tr>
                            <td>
                                <button type="button" onclick="window.history.back()">Edit</button>
                            </td>
                            <td style="text-align:right;">
                                <input type="submit" value="Publish" />
                            </td>
                        </tr>
                    {{ end }}
                </table>
            </form>

            <div class="footer">
                <ul class="nav">
                    <li><a href="account">Account</a></li>
                    <li><a href="compose">Compose</a></li>
                    <li><a href="recent">Recent</a></li>
                    <li><a href="best">Best</a></li>
                    <!--<li><a href="digest">Digest</a></li>-->
                </ul>
                <ul class="nav">
                    <li><a href="channels">Channels</a></li>
                    <li><a href="ledger">Ledger</a></li>
                </ul>
                <ul class="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="https://aletheiaware.com/about.html">About</a></li>
                    <li><a href="mailto:support@aletheiaware.com">Support</a></li>
                </ul>
                <p class="meta">© 2020 Aletheia Ware LLC.  All rights reserved.</p>
            </div>
        </div>
    </body>
</html>
